@charset "UTF-8";
#menu_page {
	float:left;
	width: 640px;
	height: 940px;
	border-style: none;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#main_logo {
	margin: 20px auto 10px 0;
	width: 100%; height: 100px;
	text-align: center;
	background: url(../img/title_logo.png) no-repeat;
	background-position: center center;
	background-size: 450px;
}

#menu_contents {width: 92%;position:relative;}
#menu_contents ul {padding:0; margin:0; list-style: none;}
#menu_contents ul li {float: left;padding: 0;width:100%;}

#menu_contents ul li a, #menu_contents ul li a:visited, #menu_contents ul li:hover a {
	display:block;
	text-decoration:none;
	width:100%; height:60px;
	border:0;
	/*background:#710069; line-height:20px; font-size:11px; overflow:hidden;*/
	background-position: right center;
	background-size: auto 50px;
}
#menu_item1 a {background: url(../img/mainmenu/mm_1_0.png) no-repeat;}
#menu_item1:hover a{background: url(../img/mainmenu/mm_2_0.png) no-repeat;}
#menu_item2 a {background: url(../img/mainmenu/mm_1_1.png) no-repeat;}
#menu_item2:hover a{background: url(../img/mainmenu/mm_2_1.png) no-repeat;}
#menu_item3 a {background: url(../img/mainmenu/mm_1_2.png) no-repeat;}
#menu_item3:hover a{background: url(../img/mainmenu/mm_2_2.png) no-repeat;}
#menu_item4 a {background: url(../img/mainmenu/mm_1_3.png) no-repeat;}
#menu_item4:hover a{background: url(../img/mainmenu/mm_2_3.png) no-repeat;}
#menu_item5 a {background: url(../img/mainmenu/mm_1_4.png) no-repeat;}
#menu_item5:hover a{background: url(../img/mainmenu/mm_2_4.png) no-repeat;}
#menu_item6 a {background: url(../img/mainmenu/mm_1_5.png) no-repeat;}
#menu_item6:hover a{background: url(../img/mainmenu/mm_2_5.png) no-repeat;}
#menu_item7 a {background: url(../img/mainmenu/mm_1_6.png) no-repeat;}
#menu_item7:hover a{background: url(../img/mainmenu/mm_2_6.png) no-repeat;}
#menu_item8 a {background: url(../img/mainmenu/mm_1_7.png) no-repeat;}
#menu_item8:hover a{background: url(../img/mainmenu/mm_2_7.png) no-repeat;}
#menu_item9 a {background: url(../img/mainmenu/mm_1_8.png) no-repeat;}
#menu_item9:hover a{background: url(../img/mainmenu/mm_2_8.png) no-repeat;}
#menu_item10 a {background: url(../img/mainmenu/mm_1_9.png) no-repeat;}
#menu_item10:hover a{background: url(../img/mainmenu/mm_2_9.png) no-repeat;}
#menu_item11 a {background: url(../img/mainmenu/mm_1_10.png) no-repeat;}
#menu_item11:hover a{background: url(../img/mainmenu/mm_2_10.png) no-repeat;}
#menu_item12 a {background: url(../img/mainmenu/mm_1_11.png) no-repeat;}
#menu_item12:hover a{background: url(../img/mainmenu/mm_2_11.png) no-repeat;}
